@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.note ::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.note ::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 1rem;
}

/* Handle */
.note ::-webkit-scrollbar-thumb {
  background: #f7ea02;
  border-radius: 1rem;
}

/* Handle on hover */
.note ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
